#### data frame is main object in pandas . it is used to represent data with rows and coloums (tabular or excel spreadsheet like data )

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Weather_data.csv")

In [4]:
df.head()

          day  temperature   windspeed    event
0  01/01/2017            32           6    Rain
1  01/02/2017            35           7  Sunny
2  01/03/2017            28           2    Snow
3  01/04/2017            24           7    Snow
4  01/05/2017            32           4    Rain

In [5]:
rows , coloumns=df.shape

In [6]:
rows

6

In [7]:
coloumns

4

In [8]:
df.head(2)

          day  temperature   windspeed    event
0  01/01/2017            32           6    Rain
1  01/02/2017            35           7  Sunny

In [9]:
df.tail(2)

          day  temperature   windspeed    event
4  01/05/2017            32           4    Rain
5  01/06/2017            32           2  Sunny

In [10]:
df[2:5]

          day  temperature   windspeed  event
2  01/03/2017            28           2  Snow
3  01/04/2017            24           7  Snow
4  01/05/2017            32           4  Rain

In [11]:
df.columns

Index(['day', 'temperature ', 'windspeed ', 'event'], dtype='object')

In [12]:
df.day

0    01/01/2017
1    01/02/2017
2    01/03/2017
3    01/04/2017
4    01/05/2017
5    01/06/2017
Name: day, dtype: object

In [13]:
df.event

0      Rain
1    Sunny
2      Snow
3      Snow
4      Rain
5    Sunny
Name: event, dtype: object

In [14]:
df['event']

0      Rain
1    Sunny
2      Snow
3      Snow
4      Rain
5    Sunny
Name: event, dtype: object

In [15]:
type(df['event'])

pandas.core.series.Series

In [16]:
df

          day  temperature   windspeed    event
0  01/01/2017            32           6    Rain
1  01/02/2017            35           7  Sunny
2  01/03/2017            28           2    Snow
3  01/04/2017            24           7    Snow
4  01/05/2017            32           4    Rain
5  01/06/2017            32           2  Sunny

In [17]:
df[['event','day']]

    event         day
0    Rain  01/01/2017
1  Sunny   01/02/2017
2    Snow  01/03/2017
3    Snow  01/04/2017
4    Rain  01/05/2017
5  Sunny   01/06/2017

In [18]:
df

          day  temperature   windspeed    event
0  01/01/2017            32           6    Rain
1  01/02/2017            35           7  Sunny
2  01/03/2017            28           2    Snow
3  01/04/2017            24           7    Snow
4  01/05/2017            32           4    Rain
5  01/06/2017            32           2  Sunny

In [19]:
df.describe()

       temperature   windspeed
count      6.000000    6.000000
mean      30.500000    4.666667
std        3.885872    2.338090
min       24.000000    2.000000
25%       29.000000    2.500000
50%       32.000000    5.000000
75%       32.000000    6.750000
max       35.000000    7.000000

In [20]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

KeyError: "['temperature'] not in index"

In [21]:
df

          day  temperature   windspeed    event
0  01/01/2017            32           6    Rain
1  01/02/2017            35           7  Sunny
2  01/03/2017            28           2    Snow
3  01/04/2017            24           7    Snow
4  01/05/2017            32           4    Rain
5  01/06/2017            32           2  Sunny

In [22]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [24]:
df.set_index('day',inplace=True)

In [25]:
df

            temperature   windspeed    event
day
01/01/2017            32           6    Rain
01/02/2017            35           7  Sunny
01/03/2017            28           2    Snow
01/04/2017            24           7    Snow
01/05/2017            32           4    Rain
01/06/2017            32           2  Sunny

In [26]:
df.loc['01/03/2017']

temperature       28
windspeed          2
event           Snow
Name: 01/03/2017, dtype: object

In [27]:
df.reset_index(inplace=True)
df

          day  temperature   windspeed    event
0  01/01/2017            32           6    Rain
1  01/02/2017            35           7  Sunny
2  01/03/2017            28           2    Snow
3  01/04/2017            24           7    Snow
4  01/05/2017            32           4    Rain
5  01/06/2017            32           2  Sunny

In [28]:
df.set_index('event',inplace=True)
df

               day  temperature   windspeed
event
Rain    01/01/2017            32           6
Sunny   01/02/2017            35           7
Snow    01/03/2017            28           2
Snow    01/04/2017            24           7
Rain    01/05/2017            32           4
Sunny   01/06/2017            32           2

In [29]:
df.loc['Snow']

              day  temperature   windspeed
event
Snow   01/03/2017            28           2
Snow   01/04/2017            24           7